.combat-sidebar li.combatant.defeated {
    color: #e0736e;
    background-color: rgba(128, 0, 0, 0.8);
  }
  .combat-sidebar .combatant {
    display: grid;
    grid-template-columns: 48px 1fr 48px;
  }
  .combat-sidebar .combatant .token-name {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
  .combat-sidebar .combatant .token-name .namerow {
    display: grid;
    grid-template-columns: 1fr;
    line-height: 30px;
    align-items: center;
  }
  .combat-sidebar .combatant .token-name .namerow .name {
    text-align: left;
    max-height: 24px;
    overflow: hidden;
    color: #ff8f8f;
  }
  .combat-sidebar .combatant .token-name .namerow .name.ready {
    color: #8fbc8f;
  }
  .combat-sidebar .combatant .token-name .combatant-controls {
    text-align: center;
  }
  .combat-sidebar .combatant .token-name .combatant-controls .actions,
  .combat-sidebar .combatant .token-name .combatant-controls .shotCost {
    color: silver;
    height: 20px;
    max-width: 28px;
    border: none;
    background-color: #800;
    text-align: center;
  }
  .combat-sidebar .combatant .token-initiative .initiative {
    color: silver;
    height: 20px;
    border: none;
    background-color: #800;
    text-align: center;
  }
  .combat-sidebar .combatant.apcs .token-name {
    display: grid;
    grid-template-rows: auto;
  }
  .combat-sidebar .combatant.apcs .token-name .namerow {
    display: grid;
    grid-template-columns: 1fr 80px 28px;
    line-height: 24px;
    align-items: center;
  }
  .combat-sidebar .combatant.apcs .token-name .actionrow {
    display: grid;
    grid-template-columns: 60px 1fr 28px 20px;
    line-height: 24px;
    align-items: center;
  }
  .combat-sidebar .combatant.apcs .token-name .action {
    color: black;
    line-height: 18px;
    border-radius: 3px;
    background-color: silver;
    text-align: center;
    font-size: smaller;
    text-shadow: 0 0 black;
  }
  .combat-sidebar .combatant.apcs .token-name .declaredaction {
    color: silver;
    height: 20px;
    border: none;
    text-align: center;
    width: 18px;
    background-color: black;
  }
  .combat-sidebar .combatant.apcs .token-name .declaredaction .option {
    background-color: black;
  }
  .combat-sidebar .combatant.apcs .token-initiative {
    padding-top: inherit;
  }
  .combat-sidebar .combatant.apcs .token-initiative .initiative {
    color: silver;
    height: 20px;
    border: none;
    background-color: #800;
    text-align: center;
  }
  .combat-sidebar .combatant.apcs .token-initiative .roll {
    transform: scale(0.8);
    height: 30px;
  }
  .combat-sidebar .combatant.apcs .token-name .combatant-controls .actions,
  .combat-sidebar .combatant.apcs .token-name .combatant-controls .shotCost {
    background-color: #080;
  }
  .combat-sidebar .combatant.apcs .token-initiative .initiative {
    background-color: #080;
  }
  .combat-sidebar .combatant.apcs .token-initiative .initiative.cannot {
    background-color: #000;
  }
  